RewriteEngine On

# =====================================
# 1) URL SEO BACKOFFICE
# =====================================

# RewriteRule ^logout(.*)$ /app/view/BO/logout.php [L,QSA]


# /gestion_admin
RewriteRule ^vaovaosite/gestion_admin/?$ admin/admins.php [L,QSA]

# /gestion_user/nimporte-quel-mot-seo
RewriteRule ^vaovaosite/BO/gestion_admin/(.*)$ admin/admins.php [L,QSA]

# /vaovaosite//nimporte-quel-mot-seo
RewriteRule ^vaovaosite/BO/gestion_articles/create_articles/(.*)$ /app/view/BO/create_article.php [L,QSA]
RewriteRule ^vaovaosite/BO/gestion_articles/(.*)$ /app/view/BO/articles.php [L,QSA]



# vaovaosite/vvm/BO/nimporte-quel-mot-seo   => pour normalisation de notre accueills
RewriteRule ^vaovaosite/vvm/BO/(.*)$ / [L,QSA]

# =====================================
# 1) URL SEO FRONTOFFICE
# =====================================

# vaovaosite/vvm/FO/nimporte-quel-mot-seo   => pour normalisation de notre accueills
RewriteRule ^vaovaosite/vvm/FO/(.*)$ / [L,QSA]
# vaovaosite/article/123-mon-bel-article  => redirige vers article.php?id=123
RewriteRule ^vaovaosite/article/([0-9]+)-.*$ /app/view/FO/article.php?id=$1 [L,QSA]

# RewriteRule ^vaovaosite/article/([0-30]+)-.*$ /app/view/FO/article.php?id=$1 [L,QSA]













# =====================================
# n) SUPPRIMER .php DES URLS (générique)
# =====================================

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [L]