RewriteEngine On

# =====================================
# 1) URL SEO GESTION ADMIN (priorité)
# =====================================

# /gestion_user
RewriteRule ^gestion_user/?$ admin/admins.php [L,QSA]

# /gestion_user/nimporte-quel-mot-seo
RewriteRule ^gestion_user/(.*)$ admin/admins.php [L,QSA]

# vvm/FO/nimporte-quel-mot-seo   => pour normalisation de notre accueills
RewriteRule ^vvm/FO/(.*)$ / [L,QSA]

# =====================================
# 2) SUPPRIMER .php DES URLS (générique)
# =====================================

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [L]